@import './color-scheme.scss';
@import './bootstrap-plus/index.scss';
@import './icon-colors.scss';

#root {
	font-family: 'Montserrat';
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
