@import './color-scheme.scss';
@import './bootstrap-plus/index.scss';
@import './icon-colors.scss';

#root{
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}

#Content {
	max-width: 100%;
	margin: 0px;
	overflow: hidden;
	left: 0px;
}

.bolded {
	font-size: 1.35em;
}
 
 ol.carousel-indicators li,
 ol.carousel-indicators li.active {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 2px;
	border: 0;
 }
  
 .carousel-control-next-icon:after{
   content: '>';
 }
 
 .carousel-control-prev-icon:after {
   content: '<';
 }

 .carousel-control-next-icon:after, .carousel-control-prev-icon:after {
	font-size: 28px;
	color: black;
 } 
 
 
 ol.carousel-indicators li {
	background: black;
 }
 
 ol.carousel-indicators li.active {
	background: #01f790
 }

 .flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
 }

 .fancyFont {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .sectionHeader {
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg); /* Safari prior 9.0 */
	transform: rotate(-10deg); /* Standard syntax */
	transform-origin: 10% 0;
	z-index: 1;
	font-size: 3em;
	margin-bottom: 0;
	padding-bottom: 0;
}

.sectionDivider {
	font-size: 3em;
}

.Name {
	margin-bottom: 0;
	font-size: 4em;
	white-space: nowrap;
}

#Bio {
	max-width: 40%;
}

#Contact {
	font-size: 3em;
}

@media (max-width: 1000px) {
	#Bio{
		max-width: 100%;
	}
	body{
		font-size: 12px;
	}
}

.card-header, .card-footer, nav{
	background-color: $light;
}

footer{
	font-size: 1.5em;
	font-weight: bold;
}

.version {
	cursor: pointer;
	margin: 0 5px;
	padding: 0 5px;
	border-radius: 5%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
  
.invisible {
	display: none;
}
  
.navShadow {
	box-shadow: 0 25px 20px -20px rgba(0,0,0,0.2);
}

    
.center{
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cursor-pointer {
	cursor: pointer;
}

.z-index-back {
	z-index: -1;
}

.z-index-2 {
	z-index: 2;
}

@media (min-width: map-get($map: $grid-breakpoints, $key: 'md')){
	.web-dev-card {
		width: 48% !important;
	}	
}
