@import "styles/bootstrap-plus/variables.scss";

.icon {
    width: 30px;
    height: 30px;
}

.tag {
    height: 50px;
}

.social-icon {
    margin: 10px;
}

.social-icons {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    top: 50%;
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
    .social-icon {
        margin: 5px;
    }
    .social-icons {
        flex-direction: column;
    }
}
