.form-control {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px -4px;
}

.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px -1px;
}

.btn-primary {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}
